HTML[data-doctype="true"] BODY.non_standard_lists {
    background-color: #222;
  }

BODY.non_standard_lists {
  background-color: #222;
}

.navbar-default {
  background-color: #222;
  border-color: #606060;
    border-bottom-color: rgb(96, 96, 96);
}

.btn-default, .btn-destructive-subdued, .btn-success-subdued, .nav-segmented > li {
    color: #fff;
    background-color: #474747;
    border-color: #474747;
}

/* dropdown menu in toolbar next to open dashboard version button*/
.select2-container .select2-choice {
    display: block;
    min-height: 32px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    line-height: 30px;
    color: #474747;
    text-decoration: none;
    background-color: #474747;
    background-clip: padding-box;
    border: 1px solid #474747;
    border-radius: 3px;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    color: white;
  }
  HTML[data-doctype="true"] .select2-container, HTML[data-doctype="true"] .select2-choice, HTML[data-doctype="true"] .select2-drop {
    color: #fff;
}
/*end of dropdown menu*/

table {
    background-color: #212121;
  }

  HTML[data-doctype="true"] .drag_section_header {
    background-color: #212121;
  }  

  .table td.col-control {
    background-color: #6d6d6d;
  }

  tr.list_odd .list_decoration_cell {
    background-color: #393939;
  }

  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 6px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #000;
  }
  .drag_section {
    border: 1px solid #515151;
    width: 100%;
    z-index: 100;
    border-spacing: 2px !important;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: white;
    background-color: #212121;
  }

  /* info button */
  .table .table-btn-lg {
    color: #ececec;
    font-size: 18px;
  }
  tr.list_odd td {
    background-color: #393939;
    color: black;
  }
  .table td a, .table th a {
    color: #ececec;
    text-decoration: underline;
  }
  HTML[data-doctype="true"] tr.list_even td, HTML[data-doctype="true"] tr.list_odd td, HTML[data-doctype="true"] .drag_section_header, HTML[data-doctype="true"] SELECT:not([readonly="readonly"]) {
    color: #ececec;
  }
  
  tr.list_even .list_decoration_cell {
    background-color: #5f5f5f;
  }
  tr.list_even td {
    background-color: #5f5f5f;
    color: black;
  }
  .list_nav {
    background: #222;
  }

  /* side bar */
  .sn-aside.sn-aside_themed {
    background-color: #393939;
    color: #fff;
  }

  .magellan_navigator .sn-widget-list_indentation .nav-favorites-list .sn-widget-list_v2 .sn-widget-list-item {
    background-color: #393939;
    color: #ffffff;
    padding-left: 10px;
  }
  /* top bar */
  .navpage-layout .navbar-divider {
    bottom: 0;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #222;
    z-index: 3;
  }

  .btn-primary {
    color: #ffffff;
    background-color: #474747;
    border-color: #474747;
  }

  /* Popover (when you click info button) */
  element {
    max-width: 600px;
    top: 207.133px;
    left: 0px;
    display: block;
    width: 601px;
  }
  .popover.bottom {
    margin-top: 14px;
  }
  .fade.in {
    opacity: 1;
  }
  .popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 375px;
    padding: 1px;
    text-align: left;
    background-color: #121212;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
  }
  .popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    background-color: #121212;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 2px 2px 0 0;
    color: white;
  }
  /* popover child elements */
  A.attachment {
    color: #fff;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #6d6d6d;
    opacity: 1;
  }
  INPUT.disabled {
    color: #fff;
    /*background-color: #f6f6f6;*/
  }
  TEXTAREA.readonly {
    color: #fff;
    /*background-color: #f6f6f6;*/
  }
  HTML[data-doctype="true"] BODY {
    color: #fff;
  }
  LI.attachment_list_items A.content_editable {
    color: #fffefe;
  }